.btn > a {
    color: white;
}

.main-div {
    margin-top: 10px
}

.header-menu {
    font-size: 30px;
}

.short-column {
    width: 1%;
}

.margin-left {
   margin-left: 15px;
}

.details-page {
    margin: 15px;
}

.margin-5 {
    margin: 8px;
}

.side-margin-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.topic {
    max-width: 30rem;
    margin: 15px;
}